.chart-box-container {
	width: 600px;
	margin: auto;
}

 
@media screen and (max-width:600px) and (min-width:201px) {
	.chart-box-container {
		width: 100%;
	}
}

@media screen and (max-width:200px) {
	.chart-box-container {
		width: 200px;
	}
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: "sans-serif";
	/*text-anchor: start;*/
}
@media screen and (max-width:400px){
	.axis text {
		font-size: 14px;
		/*text-anchor: start;*/
	}
}
@media screen and (min-width:401px){
	.axis text {
		font-size: 20px;
		/*text-anchor: start;*/
	}
}

.x.axis path {
	/*display: none;*/
}
.y.axis path {
	display: none;
}

.y.axis text {
	/*stroke: green;*/
	text-anchor: start;
}

.focus.line{
	stroke: #b4b4b4;
	stroke-width: 1;
	stroke-dasharray: 4, 4;
	fill: none;
}

.focus.circle{
	stroke: #0f85ff;
	stroke-dasharray: none;
	fill: #0f85ff;
	r: 4;
}

.line-graph {
	stroke: #0f85ff;
	stroke-width: 2;
	fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.tooltip-container {
        /*position: absolute;
        width: auto;
        height: auto;*/
        padding: 5px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

.tooltip-container.hidden {
        display: none;
}

.tooltip-container p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

.tooltip-container .timedate{
    font-size: 12px;
	color: #919191;
}
