{% extends "base.html"%}

{% block content%}
	
	<br>

	<form class="form-horizontal" action= "upload" method="post" enctype="multipart/form-data">
		<div class="row" style="margin-left:2px; margin-right:2px;">
			<div class="col-sm-12">
				<div class="input-group input-group-lg">
					<input type="file" name="file" class="btn btn-lg">
				    <p class="help-block">Upload a photo of a dog or human.</p>
				    <br />
					<input type="submit" class="btn btn-primary btn-lg" value="Upload">
				</div>
			</div>
		</div>
	</form>
	
	<br />

{% endblock %} 


