{% extends "base.html"%}

{% block content %}

<form class="form-horizontal"  method="post" enctype="multipart/form-data">
	<div class="row text-info">
		<div class="col-lg-12">
			<h3>Let's find out what dog breed your face would resemble! 
			</h3>
			<h5> 
			Upload a picture of a dog and we will tell you what breed it is. 
			<br>
			<br>
			Upload a photo of yourself and we will find the closest breed of dog.
			</h5>
		</div>
	</div>
	<br>
	<div class="row ">
		<div class="col-lg-12">
			<div class="input-group input-group-lg">
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-info text-center" onclick="$(this).parent().find('input[type=file]').click();">Choose a File...</span>
						<input type="file" name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;">
					</span>
					<span class="form-control"></span>
				</div>
			    <p class="help-block">Select a photo of a dog or human and upload it.</p>
			    <br>
				<input type="submit" class="btn btn-primary btn-lg" value="Upload">
			</div>
		</div>
	</div>
</form>

{% endblock %} 


