{% extends "base.html"%}

{% block content%}

<div class="row" align='left' style="margin-left:4px; margin-right:4px;">
	<div class="col-sm-12">
		<p> Your privacy is important to us. That is why...</p>
		<ul>
		<li>Your photos are accessible <b>only</b> from your browser. Even if someone has the link, they can't see your personal photo unless they are on the browser used to upload it.</li>
		<li>We keep your photo only for <b>{{ file_life_span }}</b> minutes on our servers. </li>
		<li>We do not track you. </li>
		</ul>
	</div>
</div>
	
{% endblock %} 


