{% extends "base.html"%}

{% block content %}
	<div class="col-lg-12">
		<img src="{{ url_for('send_file_from_cache', filename=image) }}" alt={{ image }} class="img-responsive img-thumbnail"  style="max-width: 65%">
	</div> 
	<br /> 

	<!-- {# Ladda for Bootstrap: http://msurguy.github.io/ladda-bootstrap/  #} -->
	<link rel="stylesheet" href="{{ url_for('get_static_file', filename = 'ladda-themeless.min.css') }}">
	<script src="{{ url_for('get_static_file', filename = 'spin.min.js') }}"></script>
	<script src="{{ url_for('get_static_file', filename = 'ladda.min.js') }}"></script>
	
	<script>
		// the script to put the spinning wheel in the button while the puppying is happening 
		$(function() {
			$('#form-submit').click(function(e){
			 	var l = Ladda.create(this);
			 	l.start();
			 	// post a request to the server and wait for response 
			 	function post_and_wait(){
				 	$.post("{{ url_for('is_recognized') }}", 
				 	    { filename: '{{image}}' }
				 	).done(function(response){
				    	if (response.status === 'done') { 
				    		l.stop();
						    window.location = "{{url_for('result_page', filename = image)}}";
				    	} else {
				    		// repeat the post after a set interval (ms)
				    		setTimeout(post_and_wait, 400)
				    	}
					  });
			 	}
			 	post_and_wait();
			});
		});	
	</script>
	
	<script>
		//the script to lead the number of faces in the picture
		function nrof_human_faces(pMsgId, loadingId){
		 	$.post(
		 			"{{ url_for('nrof_human_faces') }}", 
		 			{ filename: '{{image}}' }
		 	).done(function(response){
		    	if (response.nrof_faces === '-1') { 
		    		$(pMsgId).text("Figuring out the number of human faces..."); 
		    		$(pMsgId).show(); 
		    		$(loadingId).show();
		    		$('#form-submit').hide();
		    		{#// repeat the post after a set interval (ms)
		    		//use an anonymous funciton; otherwise, the setTimeout would be called immeiately#}
		    		setTimeout(function(){
		    			nrof_human_faces('#nrof_faces_message', '#loading_nrof_faces');
		    			}, 400);
		    	} else {
		    		//
		    		//console.log(response.nrof_faces)
		    		$(loadingId).hide();
		    		$('#form-submit').show();
		    		var nrof_face_msg;
		    		if (response.nrof_faces === 0){
		    			nrof_face_msg = "We recognized no human face in the picture.";
		    		} else if (response.nrof_faces === 1){
		    			nrof_face_msg = "We recognized ONE human face in the picture.";
		    		} else {
		    			nrof_face_msg = "We recognized more than one human face in the picture.";
		    		}
		    		$(pMsgId).text(nrof_face_msg); "We recognized " 
		    		$(pMsgId).show(); 
		    		
		    	}
		    });
		}
		nrof_human_faces('#nrof_faces_message', '#loading_nrof_faces');
	</script>
			
	<div class="row">
		<div class="col-sm-12">
		    <p class="help-block" id="nrof_faces_message"></p>
			<img id="loading_nrof_faces" style="display: none; max-width: 25%" src="{{ url_for('get_static_file', filename='loading.gif') }}">
		    <br />
		    <a id="form-submit" class="btn btn-primary btn-lg ladda-button" data-style="zoom-in" data-size="l"><span class="ladda-label">Puppy Me!</span></a>
		    <p class="help-block" id="help_message"></p>
		</div>
	</div>
	
{% endblock %} 


