{% extends "base.html"%}

{% block content %}
	<div class="col-lg-12">
		<img src="{{ url_for('send_file_from_cache', filename=image) }}" alt={{ image }} class="img-responsive img-thumbnail"  style="max-width: 65%">
	</div> 
	<br /> 
		
	<form class="form-horizontal"  method="post">
		<div class="row" style="margin-left:2px; margin-right:2px;">
			<div class="col-sm-12">
				<div class="input-group input-group-lg">
				    <p class="help-block">{{ msg | safe }}</p>
				    <br />
					<input type="submit" class="btn btn-primary btn-lg" value="Puppy Me!">
				</div>
			</div>
		</div>
	</form>
	

{% endblock %} 


